@charset "UTF-8";

body{
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
    font-size: 15px;
    background-color:#ffff93;
}
.picture {
    text-align:center;
}
.picture img{
    display:inline-block;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
}
.header {
    text-align:center;
    width: 100%;
    margin: 0 auto;
    background-color: #00bfff;
}
.header ul {
    display: flex;
}
.header ul li {
    width: 20%;
    text-align: center;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
    }
.text {
    text-align: center;
}
